*.h5
*.pkl
*.npy
*.pt
*.pth
*.ckpt
*.bin
*.model
*.joblib
*.sav
*.dat
*.txt
*.csv
*.json
*.log
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.zip
*.tar
*.pyc